<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.business.mapper.OrderMapper">
    
    <resultMap type="Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="shopId"    column="shop_id"    />
        <result property="total"    column="total"    />
        <result property="paidInAmount"    column="paid_in_amount"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="discountId"    column="discount_id"    />
        <result property="payee"    column="payee"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOrderVo">
        select id, order_no, shop_id, total, paid_in_amount, total_amount, discount_id, payee, create_by, update_by, create_time, update_time from t_order
    </sql>

    <select id="selectList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="total != null "> and total = #{total}</if>
            <if test="paidInAmount != null "> and paid_in_amount = #{paidInAmount}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="discountId != null "> and discount_id = #{discountId}</if>
            <if test="payee != null  and payee != ''"> and payee = #{payee}</if>
        </where>
    </select>
    
    <select id="selectById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="total != null">total,</if>
            <if test="paidInAmount != null">paid_in_amount,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="discountId != null">discount_id,</if>
            <if test="payee != null">payee,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="total != null">#{total},</if>
            <if test="paidInAmount != null">#{paidInAmount},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="discountId != null">#{discountId},</if>
            <if test="payee != null">#{payee},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="insertDetail" parameterType="OrderDetail" useGeneratedKeys="true" keyProperty="id">
        insert into t_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsNum != null">goods_num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="goodsNum != null">#{goodsNum},</if>
        </trim>
    </insert>

    <update id="update" parameterType="Order">
        update t_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="total != null">total = #{total},</if>
            <if test="paidInAmount != null">paid_in_amount = #{paidInAmount},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="discountId != null">discount_id = #{discountId},</if>
            <if test="payee != null">payee = #{payee},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from t_order where id = #{id}
    </delete>

    <delete id="deleteDetailByOrderNo" parameterType="Long">
        delete from t_order_detail where order_no = #{orderNo}
    </delete>

    <delete id="deleteByIds" parameterType="String">
        delete from t_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>