<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.business.mapper.TDiscountMapper">
    
    <resultMap type="TDiscount" id="TDiscountResult">
        <result property="name"    column="name"    />
        <result property="discountRate"    column="discount_rate"    />
        <result property="effectTime"    column="effect_time"    />
        <result property="invalidTime"    column="invalid_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectTDiscountVo">
        select name, discount_rate, effect_time, invalid_time, create_by, update_by, create_time, update_time, id from t_discount
    </sql>

    <select id="selectList" parameterType="TDiscount" resultMap="TDiscountResult">
        <include refid="selectTDiscountVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="discountRate != null "> and discount_rate = #{discountRate}</if>
            <if test="effectTime != null "> and effect_time = #{effectTime}</if>
            <if test="invalidTime != null "> and invalid_time = #{invalidTime}</if>
        </where>
    </select>
    
    <select id="selectById" parameterType="Long" resultMap="TDiscountResult">
        <include refid="selectTDiscountVo"/>
        where id = #{id}
    </select>
        
    <insert id="insert" parameterType="TDiscount" useGeneratedKeys="true" keyProperty="id">
        insert into t_discount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="discountRate != null">discount_rate,</if>
            <if test="effectTime != null">effect_time,</if>
            <if test="invalidTime != null">invalid_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="discountRate != null">#{discountRate},</if>
            <if test="effectTime != null">#{effectTime},</if>
            <if test="invalidTime != null">#{invalidTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="update" parameterType="TDiscount">
        update t_discount
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="discountRate != null">discount_rate = #{discountRate},</if>
            <if test="effectTime != null">effect_time = #{effectTime},</if>
            <if test="invalidTime != null">invalid_time = #{invalidTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from t_discount where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="String">
        delete from t_discount where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>