package ${packageName}.mapper;

import com.manage.common.core.core.mapper.IMapper;

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends IMapper {

}
