package ${packageName}.service;

import java.util.List;

import com.manage.common.core.core.service.IService;
import ${packageName}.domain.${ClassName};

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IService {

}
